.iphone {
    max-width: 900px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.iphone table{
    width: 100%;
    border: 1px solid gray;
}
.iphone img {
    width: 200px;
    height: 200px;
}

.quantityStatus {
    display: inline;
    border-radius: 30px;
    background-color: red;
    padding: 5px 10px;
    color: white;
}
