
.container{

    display: grid;
    justify-content: center;
    margin: 0 auto;
    color: gray;
}

.container ul{
    display: flex;
    justify-content: center;
    font-size: 24px;
}
ul img {
    width: 100%;
}

.container ul li{
    list-style: none;
    margin-right: 20px;
}

.products{
    display: flex;
    justify-content: center;
}
.active{
    color: black;
}
.container a{
    display: grid;
    justify-items: center;
}