.header{
    background-color:#2E2E2E;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.header ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-size: 24px;
    color: gray;

}